div.homeContainer div.aboutSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -2em;
}

div.aboutSection .imageContainer {
  display: flex;
  border-color: white;
  height: 24em;
  width: 16em;
  background-color: #1b1b1b;
}

div.aboutSection .imageContainer .personalImage {
  border-radius: 0.25em;
}

div.aboutSection .aboutText {
  display: flex;
  flex-direction: column;
  width: 35em;
  align-self: center;
}

div.aboutSection .aboutText h3 {
  overflow: hidden;
  border-right: 0.1em solid orange;
  white-space: nowrap;
  font-family: monospace;
  color: white;
  padding-bottom: 0.5em;
  animation:
    typing 2s steps(40, end),
    blink-caret 0.5s step-end infinite;
}

div.aboutSection .aboutText p {
  font-family: monospace;
  color: white;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
